@import "./reset.css";







body {
    font: 300 14px/16px "Poppins", "Arial", sans-serif;
    background-color: rgba(0, 7, 26, 1);
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin: 0 auto;
    color: white;
}

/* * {
    border: solid red 1px;
} */

/* Chrome normal: 1740px - ... (hand fix) */

/* General */

.container {
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1536px;
    display: flex;
    flex-direction: column;
    gap: 100px
    /* border: solid red 1px; */
}

/* NAVBAR */

.nav {
    color: white;
    padding: 50px 0;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
}

.logo span {
    color: rgba(249, 113, 39, 1);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 100px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins';
}

/* HEADER */

.header {
    display: flex;
    position: relative;
}

.header_text-inblock {
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding-left: 17px;
    width: 270px;
    height: 40px;
    background: linear-gradient(to right, #05101E, #0A2A54);
    font-weight: 500;
    border-radius: 10px;
    size: 24px;
    letter-spacing: 2px;
}

.header-leftside {
    /* border: solid red 1px; */
    width: 50%;
    left: 0;
}

.header-rightside-container {
    right: 0;
    position: absolute;
}


.header-rightside {
    right: 0;
    min-width: 708px;
    width: 50%;
    display: flex;
    position: relative;
}

@media(max-width: 980px) {
    .header-rightside {
        right: calc(50vw - 354px);
    }
}




.header_text-inblock p {
    padding-left: 5px;
}

.header_text-inblock_span1 {
    color: #F97127;
}

.header_text-inblock_span2 {
    color: #FEBA2E;
}

.header_text {
    margin-top: 15px;
    width: 740px;
    height: 294px;
    line-height: 95.2px;
    font-weight: 500;
    font-size: 68px;
    z-index: 100;
    position: relative;
}

/* 
@media(max-width:840px) {
    .header_text {
        width: 640px;
    }
} */

.header_text span {
    background: radial-gradient(59.8364% 68.5205% at 71.1566% 35.692%,
    rgba(222, 249, 250, 1) 0.8878%,
    rgba(190, 243, 245, 1) 17.23%,
    rgba(157, 237, 240, 1) 42.04%,
    rgba(125, 231, 235, 1) 55.12%,
    rgba(92, 225, 230, 1) 71.54%,
    rgba(51, 187, 207, 1) 100%);
    clip: auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px #00000000;
}

.header_under-text {
    margin-top: 40px;
    color: rgb(229, 229, 229);
    font-size: 18px;
    width: 483px;
    line-height: 30.6px;
    font-weight: 120;
    margin-left: 0px;
    z-index: 99;
}


.header-rightside {
    display: flex;
}

.fly_logo1 {
    width: 112px;
    height: 112px;
    left: 120px;
    top: 0px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.fly_logo2 {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 350px;
    right: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.fly_logo3 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 475px;
    left: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.device {
    position: relative;
    display: flex;
    left: calc(50% - 196px);
    top: 130px;
    opacity: 1;
    z-index: 15;
    width: 393px;
    height: auto;
}

.device_top-shadow {
    position: absolute;
    left: 0px;
    top: -40px;
    width: 386px;
    height: 197px;
    background-size: cover;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 8;
}

.devicePNG {
    position: absolute;
    left: 0px;
    width: 393px;
    height: 273px;
    background-size: cover;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 7;
}

.device_bottom-shadow {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 386px;
    height: 197px;
    background-size: cover;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

.hand-blick {
    height: 573px;
    width: 500px;
    left: calc(50% - 250px);
    top: -10px;
    position: absolute;
    background-size: contain;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(61.5px);
    z-index: 1;
}

.hand {
    height: 500px;
    width: 500px;
    position: absolute;
    background-size: contain;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
    right: calc(50% - 250px);
    top: 170px;
    opacity: 0.8;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}




/* BUY NOW Block */

.buy_now-block {
    margin-top: 100px;
}


.buy_now-box {
    background-color: rgb(200, 107, 20);
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    color: rgba(0, 7, 26, 0.7);
    align-items: center;
}


@media(max-width:1280px) {
    .buy_now-box {
        flex-direction: column;
    }
}


.buy_now_btn {
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(151, 58, 0);
}   

@media(max-width: 1280px) {
    .buy_now_btn{
        width: 100%;
        padding-top: 40px;
    }
}


.buy_now-box-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}



.buy_now-tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 67.2px;
    display: flex;
    margin-left: 0px;
}

@media(max-width:1280px) {
    .buy_now-tittle {
        margin: 0 auto;
    }
}

.buy_now-tittle span {
    padding-left: 10px;
    color: white;
}

.buy_now-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    width: 900px;
    text-align: left;
    margin-left: 0px;
}

@media(max-width:1280px) {
    .buy_now-description{
        text-align: center;
    }
}

/* INTRODUCING */

.introducing-block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media(max-width: 1024px) {
    .introducing-block {
        flex-direction: column;
        margin: 0 auto;
    }
}

.intro-leftside {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.intro-rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}


@media(max-width: 1024px) {
    .intro-leftside, .intro-rightside {
        width: 100%;
    }

    .intro-rightside {
        text-align: center;
    }
}

.intro-tittle {
    text-align: left;
    display: flex;
    font-weight: 600;
    font-size: 48px;
    line-height: 67.2px;
}

@media(max-width: 1280px) {
    .intro-tittle {
        text-align: center;
    }
}

.intro-tittle span {
    color: #F97127;
}

.intro-under-tittle-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
    text-align: left;
}

@media(max-width: 1280px) {
    .intro-under-tittle-text {
        text-align: center;
    }
}


.intro-first-topic {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
}

.intro-second-topic {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
}

.intro-third-topic {
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
}

.intro-rightside span {
    color: #ffffffba;
}



/* CHALLENGE BLOCK */

.challenge-block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* border: solid yellow 1px; */
}

@media(max-width: 1280px) {
    .challenge-block{
        flex-direction: column;
    }
}

.challenge-leftside {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.challenge-rightside {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
    text-align: left;
}

@media (max-width: 1280px) {
    .challenge-leftside, .challenge-rightside {
        width: 100%;
    }
}

.bitcoin-block {
    position: relative;
    min-height: 490px;
}


.bitcoinIMG {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 200px);
    top: 45px;
}

.challenge-circle {
    width: 490px;
    height: 490px;
    background-size: contain;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 5;
    left: calc(50% - 245px);
    top:0;
}

.challenge-hiw {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    height: 100%;    
}


.challenge-howitworks-tittle {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}

.challenge-hiw-tittles {
    font-size: 18px;
    font-weight: 600;
}

.challenge-hiw-text {
    color: rgba(255, 255, 255, 0.736);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.challenge-hiw-topics span {
    color: #F97127;
}


.challenge-text-infrontof-img {
    display: flex;
    flex-direction: column;
}

.challenge-rightside-tittle {
    margin-left: 0;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
}


.challenge-rightside-tittle span {
    color: #F97127;
}

.challenge-under-tittle-text {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.758);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}


.challenge-under-tittle-text span {
    color: #F97127;
}


.challenge-wtm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
}



.challenge-whythismatters-tittle {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}


.challenge-wtm-tittles {
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}

.challenge-wtm-text {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.759);
}

.challenge-wtm-text span {
    color: #F97127;
}

@media (max-width: 1280px) {
    .challenge-hiw, .challenge-rightside {
        text-align: center;
    }
}


/* SECURE YOUR DATA block */

.secure-main-tittle {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    width: 1200px;
    margin: 0 auto;
}

@media(max-width: 1366px) {
    .secure-main-tittle {
        width: 600px;
    }   
}

.secure-main-tittle span {
    color: #F97127;
}

.secure-blocks-grid {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

@media(max-width: 1366px) {
    .secure-blocks-grid {
        flex-direction: column;
        align-items: center;
    }   
}

.secure-blocks-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    justify-items: stretch;
    gap: 20px;
}

@media(max-width: 1280px) {
    .secure-blocks-left {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1024px) {
    .secure-blocks-left {
        grid-template-columns: 1fr;
    }
}

.secure-block {
    background-color: rgba(255, 255, 255, 0.105);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    min-height: 250px;
}

@media(max-width: 1280px) {
    .secure-block {
        min-height: 200px;
    }
}

@media(max-width: 1024px) {
    .secure-block {
        min-height: 150px;
    }
}


.secure-block-tittle {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 23.4px;
}

.secure-block-tittle span {
    color: #F97127;
}

.secure-block-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.707);
}

.secure-block-text span {
    color: #F97127;
}

.secure-tittle-under {
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
}

.secure-tittle-under span {
    color: #F97127;
}

/* REVIEWS */

.reviews-top-content {
    /* border: solid red 1px; */
    padding: 7px 15px;
    height: 164px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

@media(max-width:1024px) {
    .reviews-top-content {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.reviews-top-text {
    /* border: solid rgb(0, 255, 30) 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    color: rgba(255, 255, 255, 0.699);
    margin-right: 0px;
    text-align: center;
}

@media(max-width: 1024px) {
    .reviews-top-text {
        text-align: center;

    }   
}

.reviews-top-tittle {
    font-weight: 600;
    font-size: 48px;
    line-height: 81.6px;
    width: 50%;
    margin-left: 0px;
    text-align: center;
}

.reviews-blocks-grid {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

@media(max-width: 1366px) {
    .reviews-blocks-grid {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }   
}

.review-block {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.101);
    border-radius: 20px;
    padding: 50px;
    margin-top: 0px;
}

@media(max-width: 1366px) {
    .review-block {
        width: 100%;
        height: 100%;
    }   
}

.review-block-top {
    display: flex;
    align-items: center;
}

.quatations {
    width: 45px;
    height: 28px;
    opacity: 1;
}

.avatar {
    width: 48px;
    border: none;
    height: 48px;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-left: 20px;
}

.reviewers-data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.reviewers-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.reviewers-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.703);
}

.reviews-block-text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
}



/* FOOTER */

.footer-grid {
    display: flex;
    justify-content: space-between;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.footer-logo {
    margin-top: 30px;
    font-weight: 600;
    font-size: 41px;
    line-height: 52.75px;
}

.footer-logo span {
    color: #F97127;
}

.footer-under-logo-text {
    color: rgba(255, 255, 255, 0.71);
    width: 350px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.footer-column-tittle {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.footer-column-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.698);
}

.footer-line {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    border: solid #3F3E45 1px;
}



.copyright-block {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.copyright {
    margin-top: 40px;
    display: flex;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.698);
}

.copyright-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.698);
}

.copyrightIMG {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    opacity: 1;
    background-size: cover;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}